<template>
  <div class="openjscad">
    <div ref="viewerContext" oncontextmenu="return false;">
      <div ref="viewerdiv" v-once></div>
    </div>
    <canvas class="viewerCanvas" ref="viewerCanvas"></canvas>
    <div class="viewer-footer">
      <div v-if="statusData" class="error-overlay">
        {{ statusData.message }}
        <p>test: {{ statusData }} {{ status }} {{ designpath }}</p>
      </div>
    </div>

    <table ref="parameterstable" hidden="true"></table>
  </div>
</template>

<script>
const debug = require("debug")("OpenJSCad.vue");
/**
 * @typedef XYZCoord
 * @type {object}
 * @property {number} x
 * @property {number} y
 * @property {number} z
 */

/**
 * @typedef MinMax
 * @type {object}
 * @property {number} min
 * @property {number} max
 */

/**
 * Camera settings
 * @typedef CameraSettings
 * @type {object}
 * @property {number} fov - field of view.
 * @property {XYZCoord} angle - view angle about XYZ axis.
 * @property {XYZCoord} position - initial position at XYZ.
 * @property {MinMax} clip - rendering outside this range is clipped.
 */

/**
 * @typedef RgbaColor
 * @type {object}
 * @property {number} r - red (values 0.0 - 1.0).
 * @property {number} g - green (values 0.0 - 1.0).
 * @property {number} b - blue (values 0.0 - 1.0).
 * @property {number} a - alpha (values 0.0 - 1.0).
 */

/**
 * Grid settings
 * @typedef GridSettings
 * @type {object}
 * @property {number} i - number of units between grid lines.
 * @property {RgbaColor} color - color.
 */

/**
 * @typedef PlateSettings
 * @type {object}
 * @property {boolean} draw draw or not (default: true).
 * @property {number} size plate size (X and Y) (default: 200).
 * @property {GridSettings} m minor grid settings.
 * @property {GridSettings} M major grid settings.
 */

/**
 *
 * @typedef PosNegColor
 * @type {object}
 * @property {RgbaColor} neg color in negative direction.
 * @property {RgbaColor} pos color in positive direction.
 */

/**
 * @typedef AxisSettings
 * @type {object}
 * @property {boolean} draw - draw or not (default: false).
 * @property {PosNegColor} x
 * @property {PosNegColor} y
 * @property {PosNegColor} z
 */

/**
 * @typedef LightGLOptions
 * @type {object}
 * @property {object} canvas - Uses the HTML canvas given in 'options' or creates a new one if necessary.
 * @property {number} width - width applied to the canvas created when `options.canvas` is not set. (default: 800).
 * @property {number} height - height applied to the canvas created when `options.canvas` is not set. (default: 600).
 * @property {number} alpha - The alpha channel is disabled by default because it usually causes unintended transparencies in the canvas.
 *
 */

/**
 * @typedef ProcessorOptions
 * @type {object}
 * @property {Element} viewerContext - The main element that jscad uses.  If no canvas element is set, jscad creates one.
 * @property {Element} viewerdiv - Jscad moves the canvas tag here, or creates one and places it here.
 * @property {Element} parameterstable - A Table element reference.  The design parameters will be added here.
 * @property {Element} viewerCanvas - A Canvas element reference that will be used to draw the GL canvas.
 */

/**
 * @typedef JscadViewerOptions
 * @type {object}
 * @property {PlateSettings} plate - The grid show in the viewer.
 * @property {CameraSettings} camera
 * @property {AxisSettings} axis
 * @property {LightGLOptions} glOptions - Options sent to `GL.create()`.
 * @property {object} processor - options used by the viewer processor.
 */

/**
 * A Vue.js wrapper for the OpenJSCad UMD module build.
 *
 * ### Usage:
 * ```
 * <open-jscad
 *   design="gearset.jscad"
 *   :panel="{ size: 223 }"
 *   :camera="{
 *     position: { x: 0, y: 0, z: 150 },
 *     clip: { min: 1, max: 1000 }
 *   }"
 * ></open-jscad>
 * ```
 */

//KP

export default {
  name: "OpenJscad",

  props: {
    patternTemplate: {
      type: Object
    },
     /**
    * **jscadoptions** Object 
    * A Json object which will be injected into the 'corejscadfile' at the top as a js object.
    * Changes of this object will be instantly updated in the viewer
    */
    jscadoptions: {
      type: Object
    },
    /**
    * **corejscadfile** Object 
    * jscad file placed on server which will be presented by the viewer and updated via 'jscadoptions'.
    * best way is to load the jscad file with the 'raw-loader'
    */
    corejscadfile: {
      type: String
    },
    /**
     * Url of the design. This must be a valid OpenJSCAD file. (not used here as using a local jscadfile)
     */
    design: {
      type: String,
      required: true
    },
    /**
     * Initial camera settings.
     *
     * **CameraSettings** Object
     *
     *  * `fov` **number** field of view.
     *  * `angle` **{x: number, y: number, z: number}** view angle about XYZ axis.
     *  * `position` **{x: number, y: number, z: number}** initial position at XYZ.
     *  * `clip` **{min: number, max: number}** rendering outside this range is clipped.
     * @type {CameraSettings}
     */
    camera: {
      angle: {x: -60, y: 0, z: -45},  
      type: Object,
      required: false,
      default: undefined
    },
    /**
     * You can enable drawing axes and set the colors for each.
     *
     * **AxisSettings** Object
     *
     *  * `draw` **boolean** draw or not (default: false).
     *  * `x` **object** x axis color
     *    - `pos` **{r: number, g: number, b: number, a: number}** positive direction color. (values 0.0 - 1.0)
     *    - `neg` **{r: number, g: number, b: number, a: number}** negative direction color. (values 0.0 - 1.0)
     *  * `x` **object** y axis color
     *    - `pos` **{r: number, g: number, b: number, a: number}** positive direction color. (values 0.0 - 1.0)
     *    - `neg` **{r: number, g: number, b: number, a: number}** negative direction color. (values 0.0 - 1.0)
     *  * `x` **object** z axis color
     *    - `pos` **{r: number, g: number, b: number, a: number}** positive direction color. (values 0.0 - 1.0)
     *    - `neg` **{r: number, g: number, b: number, a: number}** negative direction color. (values 0.0 - 1.0)
     *
     * @type {AxisSettings}
     */
  
    axis: {
      type: Object,
      required: false,
      default: undefined
    },
    /**
     * The panel is the grid shown in the viewer.  You can disable the grid or customize it.
     *
     * **PlateSettings** Object
     *
     *  * `draw` **boolean** draw or not (default: false).
     *  * `size` **number** size of the grid
     *  * `m` **object** minor grid settings
     *    - `i` **number** number of units between grid lines.
     *    - `color` **{r: number, g: number, b: number, a: number}** minor grid color. (values 0.0 - 1.0)
     *  * `M` **object** major grid settings
     *    - `i` **number** number of units between grid lines.
     *    - `color` **{r: number, g: number, b: number, a: number}** major grid color. (values 0.0 - 1.0)
     *
     * @type {PlateSettings}
     */
    panel: {
      
      type: Object,
      required: false,
      default: undefined
    },
    /**
     * @ignore
     */
    delay: Number
  },

  data() {
    return {
      formats: undefined,
      format: undefined,
      outputFile: undefined,
      status: undefined,
      statusData: undefined,
      designpath: undefined,
      source: undefined
      //uploadedFilesSources: []
    };
  },

  computed: {
    /**
     * @description computes the curent clientWidth and Height
     * @returns {any}
     */
    size() {
      var devicePixelRatio = window.devicePixelRatio || 1;
      return {
        width: this.$el.clientWidth / devicePixelRatio,
        height: this.$el.clientHeight / devicePixelRatio
      };
    },

    /**
     * @description the download filename
     * @returns {any}
     */
    downloadFileName() {
      if (!this.format) return "no format";
      return this.design.replace(/\.jscad$/, `.${this.format.extension}`);
    }
  },

  filters: {
    /**
     * @description returns the value with all upercase
     * @param {any} value
     * @returns {any}
     */
    uppercase: function(value) {
      return value && value.toUpperCase();
    }
  },

  watch: {
    //KP: if any options in the UI (data in jscadoptions) are changed this method is called
    jscadoptions: {
      handler(newOptions, oldVal) {
        var content = this.jscadSourcecode(newOptions);
      },
      deep: true //wihtout this, only changes on 'options' are watched but for example no changes on 'options.repeatx'
    }
  },

  /**
   * @description mounted
   */
  async mounted() {
    /**
     * require in openjscad in mounted to enable SSR
     * @see https://vuepress.vuejs.org/guide/using-vue.html#browser-api-access-restrictions
     */
    const openjscad = require("@jscad/web");

    this._jscadViewer = openjscad(this.$refs.viewerContext, {
      processor: {
        ...this.$refs,
        setStatus: (status, data) => {
          // this.setStatus(status, data);
          debug("setStatus", { design: this.design, status, data });
          this.status = status;
          this.statusData = data;
          this.designpath = this.design;
        },
        instantUpdate: true,
        onUpdate: this.onUpdate,
        useAsync: false
      },
      viewer: {
        axis: this.axis,
        camera: this.camera,
        panel: this.panel,
        glOptions: {
          canvas: this.$refs.viewerCanvas
        }
      }
    });
    this.status = `Fetching ${this.design}`;

    //KP: refering the loaded .jscad file to the source used by the jscadviewer
    this.source = this.jscadSourcecode();

    this.status = `Processing ${this.design}`;
    debug("mounted setJsCad", this.design.slice(0, 50));
    //this._jscadViewer.setJsCad(this.source, this.design);
  },
  methods: {
    /**
     * Call back used to set stats from jscadViewer
     * @param {any} status - jscadViewer processor status.
     * @param {any} data - Additional data associated with current status.
     */
    setStatus(status, data) {
      debug("setStatus", { design: this.design, status, data });
      this.status = status;
      this.statusData = data;
    },

    /**
     * Hook called when anything changes in the jscadViewer.
     * Inside the OpenJSCad, this is updated when `enableItems`
     * is called.
     * @param {updateInfo} data - Updated data
     */
    onUpdate(data) {
      debug("onUpdate", data);
      console.log("onUpdate");
      /**
       * Add the name of the format to the format object.
       */
      this.formats = Object.entries(data.formats).reduce(
        (formats, [name, format]) => {
          formats[name] = { name, ...format };
          return formats;
        },
        {}
      );
      if (!this.format) this.format = this.formats.stla;

      this.outputFile = data.outputFile;
      if (this.outputFile !== undefined) {
        this.$emit("STLgenerated", this.outputFile);
      }
    },

    /**
     * Asynchronously create an output file with the current `format`.  `onUpdate` will
     * be set with the outputFile information.
     */
    generateFile() {
      debug("generateFile");
      if (this._jscadViewer) {
        this._jscadViewer.generateOutputFile(this.format, this.$refs.download);
      }
    },

    /**
     * Clear the output file info.  Used when a parameter or file format changes.
     */
    clearOutputFile() {
      if (this._jscadViewer) {
        this._jscadViewer.clearOutputFile();
      }
    },

    /**
     * Reset the camera to the home position.
     */
    resetCamera() {
      this._jscadViewer.resetCamera();
      console.log(this._jscadViewer)
      
    },

    /**
     * Use the browsers `fetch` api to retrieve the design.
     * @returns {any}
     */
    async fetchJscadFile() {
      await this.wait(this.delay * 2);
      return fetch(this.design).then(response => {
        //return "function main () { return union( difference(cube({size: 3, center: true}),sphere({r: 2, center: true})),intersection(sphere({r: 1.3, center: true}),cube({size: 2.1, center: true}))).translate([0, 0, 1.5]).scale(10);}"; //
        return response.text();
      });
    },

    async wait(ms) {
      return new Promise(resolve => {
        setTimeout(resolve, ms);
      });
    },

    //KP:
    jscadSourcecode(newOptions) {
      var opts = this.patternTemplate;
      if (newOptions) {
        var opts = newOptions;
      }

      //deserialize uploaded files
      //-----------------------------
      const svgDeSerializer = require("@jscad/svg-deserializer");
      const stlDeSerializer = require("@jscad/stl-deserializer");

      //all data of uploaded files as 'case x: CAG data'
      let uploadedFilesSources = [];

      //reading SVG (maybe other filetypes too?)
      opts.tiles.forEach(tile => {
        if (tile.tiletype === "upload" && tile.file.data !== null) {
          //reading uploaded files. Need to wait until Filereader finished reading
          console.log("read uploaded file data of tile: " + tile.id);
          console.log(tile.file.data);
          let reader = new FileReader();
          var raw_data = Buffer.from(tile.file.data);
          const filetype = tile.file.name.split(".").pop();
          var fileData = undefined;

          switch (filetype) {
            case "svg":
              //don't trust the npm page of @jscad/SVG-deserialzer
              fileData = svgDeSerializer.deserialize(raw_data, undefined, {
                output: "jscad"
              });

              break;
            case "stl":
              fileData = stlDeSerializer.deserialize(raw_data, undefined, {
                output: "jscad"
              });
              break;
            default:
              break;
          }

          //fileData is now a string containing the JSCAD sourcecode
          //clear file data -> only function file () {*filedata*} will be left
          //isolating JSCAD code
          fileData = fileData.slice(fileData.indexOf("function main("));
          fileData = fileData.slice(fileData.indexOf("{") + 1, -3); //-3 => remove closing '}'
          fileData = "case " + tile.id + ": " + fileData + " break;";

          uploadedFilesSources.push(fileData);
        }
      });

      // generate jscad file as string: deserialized file data + pattern parameter + basic pattern generation
      var fdfunctions = "function fileData(tileId) { switch (tileId) {";

      uploadedFilesSources.forEach(fdfunc => {
        fdfunctions += fdfunc;
      });
      fdfunctions += "}}       ";

      const source =
        fdfunctions +
        "var opts = " +
        JSON.stringify(opts) +
        ";" +
        this.corejscadfile;
      console.log("gesamtes JSCAD script: ");
      console.log(source);
      this._jscadViewer.setJsCad(source);
    }
  }
};
</script>

<style lang="css">
.openjscad .viewer-footer {
  display: flex;
}
.openjscad .viewer-footer a {
  padding-right: 1em;
}
.viewerCanvas {
  width: 100%;
  height: 480px;
}
#viewerContext .viewer canvas {
  width: 320px;
  height: 240px;
}

#viewerContext div .shift-scene {
  display: none;
}
</style>
