<template>
  <div id="app">
    <h1>Vue OpenJSCAD</h1>
    <open-jscad
      design="gearset.jscad"
      :panel="{ size: 223 }"
      :camera="{
        position: { x: 0, y: 0, z: 150 },
        clip: { min: 1, max: 1000 }
      }"
    ></open-jscad>
    <!-- <open-jscad
      design="vesa-shelf.jscad"
      :panel="{ size: 223 }"
      :camera="{
        position: { x: 0, y: 0, z: 150 },
        clip: { min: 1, max: 1000 }
      }"
      :delay="1000"
    ></open-jscad> -->
    <read-me></read-me>
    <api-doc></api-doc>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";
import OpenJscad from "./components/OpenJscad";
import ReadMe from "../README.md";
import ApiDoc from "../API.md";

export default {
  name: "app",
  components: {
    // HelloWorld,
    OpenJscad,
    ReadMe,
    ApiDoc
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 5px;
}
</style>
